<div class="right-block-container">

<div class="right-block-menu">
    <app-time-now></app-time-now>
    <div> Не отоброжается текст "Пока нет ворпосов", ecли тут троеточие</div>
    <app-avatar avatarWidth="30px" avatarHeight="30px">Av</app-avatar>
</div>








<div class="right-block-article">
            <div class="inwork-container">
                <div class="right-block-article-title">В работе :</div>
                
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
            </div>
  



            <div class="pause-container">
                <div class="right-block-article-title">На паузе : 14</div>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
            </div>



</div>



</div>