<div class="right-block-container">


  <div class="right-block-article">
    <div class="inwork-container">
      <div class="right-block-article-title-work">В работе :</div>

      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>
    </div>

    <div class="pause-container">
      <div class="right-block-article-title">На паузе : 14</div>
      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>

      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>
      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>

      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>
      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>

      <article class="task-block">
        <app-task-breadcrumbs></app-task-breadcrumbs>
        <app-task-title></app-task-title>
        <app-task-status></app-task-status>
        <app-task-author></app-task-author>
      </article>
    </div>
  </div>

  
</div>
