
.right-block-article {

    .inwork-container{
        border-radius: 8px;
        padding:12px 12px;
        background: var(--Color-bg-selected_blue, #EFFAFF);

    }
    .right-block-article-title-work {
        color: var(--Color-active_blue, #16A4E3);
    }
    .right-block-article-title-work {
        color: var(--Color-text-text-text, #5E5E5E);
    }

 
    article {
        border-radius: 4px;
        margin-top: 10px;
    }

    .task-block {
        background-color: white;     
        border-radius: 8px;       
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 0 10px;
    }

    .pause-container {
        margin: 10px 0;
    }

}