
header {
    margin-bottom: 20px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bnt-icons-menu {
    display: flex;
    align-items: center; 
    border-right: 1px solid var(--Color-divider, #E0E0E0);
    padding:0 7px;
    font-size: 14px;
    font-weight: 400;
}
img {
    margin: 0 4px;
}
app-button-dropdown {
    margin-left: 16px;
}