

<header>
        <ul>
            <li><a routerLink="/user" routerLinkActive="active-link">Главная</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Проекты</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Команда</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Канбан</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Итерации</a></li>        
  
            <app-button-dropdown btnForHeader="1" btnTitle="Создать" listTitle="Меню" btnWidth="100px" textColor="#16A4E3" borderColor="#16A4E3"
                                 [items]="['Пункт A', 'Пункт B', 'Пункт C']"/>
        </ul>
</header>







  