

<header>
        <ul>
            <li><a routerLink="/user" routerLinkActive="active-link">Главная</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Проекты</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Команда</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Канбан</a></li>
            <li><a routerLink="/user" routerLinkActive="active-link">Итерации</a></li>
            
  
            <app-button-dropdown btnTitle="Создать" listTitle="Меню" btnWidth="100px" textColor="blue" borderColor="blue"
                                 [items]="['Пункт A', 'Пункт B', 'Пункт C']"/>
        </ul>





</header>







  