//@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

header {
    width: 100%;
    padding: 10px;
}
ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.p-select {
    border:2px solid blue
}
