.task-title-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    padding:5px 0;
}
.for-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding:0 10px;

}
.for-discription {
    display: -webkit-box;         /* Создает блок с поддержкой многократных строк */
    -webkit-box-orient: vertical; /* Устанавливает ориентацию блока по вертикали */
    -webkit-line-clamp: 3;       /* Ограничивает количество строк */
    overflow: hidden;             /* Скрывает текст, который выходит за пределы */
    text-overflow: ellipsis;      /* Добавляет многоточие в конце */
    height: 3.5em;                /* Высота блока (3 строки по 1.6em, это зависит от размера шрифта) */
}
.for-task-number {    
    white-space: nowrap; /* Запрещаем перенос текста */

}