<div class="task-title-container">

    <div class="for-title" >
        <img [src]="iconsList.dev"/>
            <!-- @if(type === enumType.NoStatus){
                <img [src]="iconsList.logo"/>
            } -->
    </div>
    
    <div class="for-discription">
           <span>Завершите функцию, которая принимает два аргумента и возвращает все числа, которые делятся на данный делитель. 
            Первый аргумент - это массив чисел, а второй - делитель. Завершите функцию которая принимает два аргумента и возвращает все числа, которые делятся на данный делитель. 
                Первый аргумент - это массив чисел, а второй - делитель.</span>
    </div>

    <div class="for-task-number">
       <span>TPL-321</span>
    </div>
</div>