<header>

  <div class="block-left">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
       <span class="title"><span class="marker-text">prof</span>depo</span>
    </a>
  </div>





<div class="block-right">

 
      <div (click)="openClientLiens()">
        <ng-container *ngIf="!menuLiensActive; else closing">
            <img  src="..\assets\icons\Icon_button.svg" alt="">
        </ng-container>
        <ng-template #closing>
            <img  src="..\assets\icons\white_close.svg" alt="">
        </ng-template> 
      </div>
      
   

        <!-- avatar user -->
  <ng-container *ngIf="activeUserId && key; else loginIn" [class.openClientList]="menuListActive" >     
      <div (click)="openClientList()" class="close-button-mobile">
          <ng-container *ngIf="!menuListActive; else closing">
          </ng-container>
       
          <ng-template #closing>
              <img  src="..\assets\icons\white_close.svg" alt="">
          </ng-template>                 
      </div>        
  </ng-container>


<ng-template #loginIn>
  <div class="classSignUp">
      <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">
        Войти</a>
  </div>
</ng-template>



</div>
<!-- правый блок закончился  -->





<!-- выплывающии списко  links  -->
<ng-container *ngIf="menuLiensActive" [class.openClientLiens]="menuLiensActive" >
  <div class="openClientLiens">
      <ul class="liGap">
        <li><span class="marker-text">prof</span>depo<span class="marker-text"> HR</span></li>
        <li><span class="marker-text">prof</span>depo<span class="marker-text"> NETWORK</span></li>
        <li><span class="marker-text">prof</span>depo<span class="marker-text"> TEAM</span></li>
      </ul>
  </div>
</ng-container>


 <!-- выплывающий список users -->
        <ng-container *ngIf="menuListActive" [class.openClientList]="menuListActive" >
          <div class="openClientList">
            <ng-container *ngIf="activeUserId==='123'">
              <div class="messageForUser">Выберите пользователя:</div>
            </ng-container>
          </div>
        </ng-container>

     
        

</header>


