
<div class="right-block-menu">
    
    <app-time-now></app-time-now>
    <div class="right-block-menu-discription">
      Не отоброжается текст "Пока нет ворпосов", а вопросы всегда есть ecли тут троеточие
    </div>

    <div class="right-block-menu-message">
      <div class="message-chiffre">22</div>

      <div class="message-icon">
        <img src="/assets/icons/menutop/mes.svg" alt=""/>
      </div>
    </div>

    <app-avatar avatarWidth="30px" avatarHeight="30px">Av</app-avatar>
</div>