<div class="task-status-container">

    <div class="status-color">
        @for (status of statusList; track status) {
            <div class="status-icon" [ngClass]="{
                'class0': status.title === enumStatus.NoStatus,
                'class1': status.title === enumStatus.Frontend,
                'class2': status.title === enumStatus.Backend,
                'class3': status.title === enumStatus.Testing,
                'class4': status.title === enumStatus.Design,
                'class5': status.title === enumStatus.Analytics,
              }">
            </div>
            } 
            @empty {
            <div class="status-icon">0</div>
            }
    </div>



</div>
