
.status-color{
    display: flex;
    width: 100%;
   gap:10px;
}
.status-icon {
    width: 24.5%;
    height: 2px;
    border-radius: 4px;
}
.class0{background-color: grey}
.class1{background-color: red}
.class2{background-color: rgb(128, 0, 117)}
.class3{background-color: blue}
.class4{background-color: orange}
.class5{background-color: green}
