
.status-color{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.status-icon {
    width: 24.5%;
    height: 2px;
    border-radius: 4px;
}
.class0{background-color: grey}
.class1{background-color: red}
.class2{background-color: green}
.class3{background-color: blue}