
.date-for-left-block {
    font-size: 30px;
    text-transform: capitalize;
}
.btn-left-block {
    display: flex;
    margin: 11px 0;
    gap:10px;

    .btns{
        background-color: white;
        color: rgb(44, 44, 44);
        padding: 5px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 2px;
    }
    .btns:hover {
        background-color: #0056b3;
    }
}



