<div class="left-block-container">
<app-header-web></app-header-web>
    
  <div class="date-for-left-block"><app-date-today></app-date-today></div>

  <div class="btn-left-block">
      <app-button-dropdown
        btnTitle="Все продукты"
        listTitle="Все продукты"
        [items]="['Название 1', 'Название 2', 'Название 3']"
        btnWidth="130px"
      />

      <app-button-dropdown
        btnTitle="Все задачи"
        listTitle="Все задачи"
        [items]="['Общие', 'Разработка', 'Тестирование', 'Ошибки']"
        btnWidth="130px"
      />
  </div>

  <app-left-block-menu></app-left-block-menu>


</div>
