<div class="left-block-container">


    <div class="date-for-left-block"><app-date-today></app-date-today></div>

    <div class="btn-left-block">
        <div class="card flex justify-center">
            <p-select [options]="cities" [(ngModel)]="selectedCity" [checkmark]="true" optionLabel="name" [showClear]="true" 
                      placeholder="Все продукты" />
            <p-select [options]="cities" [(ngModel)]="selectedCity" [checkmark]="true" optionLabel="name" [showClear]="true" 
                      placeholder="Все задачи"  />
        </div>
    </div>

    <app-left-block-menu></app-left-block-menu>


</div>