<div class="left-block-container">

    
  <div class="date-for-left-block"><app-date-today></app-date-today></div>

  <div class="btn-left-block">
      <app-button-dropdown
        btnTitle="Все продукты"
        listTitle="Все продукты"
        [items]="[
        { title: 'Название 1', image: '/assets/icons/zadachi/logo16.svg' },
        { title: 'Название 2', image: '/assets/icons/zadachi/logo16.svg' },
        { title: 'Название 3', image: '/assets/icons/zadachi/logo16.svg' },
        ]"
        btnWidth="130px"
      />

      <app-button-dropdown
        btnTitle="Все задачи"
        listTitle="Все задачи"
        [items]="[
          { title: 'Общие', image: '/assets/icons/raznoe/category.svg' },
          { title: 'Разработка', image: '/assets/icons/menutop/calendar.svg' },
          { title: 'Тестирование', image: '/assets/icons/raznoe/category.svg'},
          { title: 'Ошибки', image: '/assets/icons/raznoe/test.svg' }
        ]"
        btnWidth="130px"
      />
  </div>




</div>
