.left-block-container {
    margin:10px;
}

.date-for-left-block {
    font-size: 30px;
}
.btn-left-block {
    display: flex;
    gap:10px;

    .btns{
        background-color: white;
        color: rgb(44, 44, 44);
        padding: 5px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 2px;
    }
    .btns:hover {
        background-color: #0056b3;
    }
}



nav {
    margin: 50px 0 25px 0;
    line-height: 2em;

    ul {
        display: flex;
        gap:40px;
        border-bottom: 1px solid rgb(172, 172, 172);
    }

    .active-link {
        border-bottom: 2px solid blue;
        color: blue;
    }
}