.task-author-container {
  display: flex;
  align-items: center;
  padding: 6px 0;
  justify-content: space-between;
  width: 100%;
}
.for-parenthese {
  display: flex;
  padding: 0 15px 0 3px;
}
.for-discription {
  display: flex;
  width: 100%;
  align-items: center;
}
.name {
  padding: 0 5px;
  color:var(--Color-text-text-secondary, #7E7E7E);

}
.for-times {
  display: flex;
  align-items: center;
  white-space: nowrap; 
}
