.task-author-container {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: space-between;
    width: 100%;
}
.for-parenthese {
    display: flex;
    padding:0 10px;
}
.for-discription {
    display: flex;
    width: 100%;
    align-items: center;
}
.name{
    padding: 0 5px;
}
.for-times{
    white-space: nowrap; /* Запрещаем перенос текста */
}