.day-times {
    display: flex;
    align-items: center;
    background: var(--Color-team-online, #16A4E3);  
    color: white; 
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    border-radius: 6px;
    padding: 2px 6px;  


    img {
        margin-right: 5px;
    }

}