.task-dreadcrumbs-container {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.for-dreadcrumbs-icons {
    display: flex;
    align-items: center;
    padding-right: 10px;
    img {
        width: 24px;
    }
}
.for-dreadcrumbs-discript {
    display: flex;
    align-items: center;
    img {
        width: 24px;
    }
}