<div class="task-dreadcrumbs-container ">

    <div class="for-dreadcrumbs-icons">
        <img [src]="iconsList.logo" alt=""/>
    <div class="simpl">Simplanum</div>
    <span class="flash"> / </span>
    </div>


    <div class="for-dreadcrumbs-icons">
        <img [src]="iconsList.ios"  alt=""/>
        <span class="flash"> / </span>
    </div>

    <div class="for-dreadcrumbs-icons">
        <img [src]="iconsList.ios"  alt=""/>
        <span class="flash"> / </span>
    </div>

    <div class="for-dreadcrumbs-discript">
        <img [src]="iconsList.feature"  alt=""/>
        <span class="text-discript">Вопрос по процедуре</span>
    </div>
</div>

