/* You can add global styles to this file, and also import other style files */


//создаем переменную стиля
$xxx: 0px 4px 10px rgba(0, 0, 0, 0.1);
//так его вызываем в css компонента
.card {
  box-shadow: $xxx;
}

@font-face {
  font-family: 'Roboto'; 
  src: url('/assets/font/Roboto-VariableFont_wdth,wght') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --Color-bg-grayDark: #F1F2F4; //главный фон

    --Color-red: #CE0000;
    --Color-active_blue: #16A4E3;


    --Color-text-text-text: #5E5E5E; 
    --Color-text-text-secondary: #7E7E7E;

    --color-bg-border-divider: #0000000A; //обводка
    --Color-bg-selected_light: #FFFFFF;
    --Color-divider: #E0E0E0;


    --font-size-small: 13px;
}

  html,
  body {
    font-family: 'Roboto', sans-serif; 
    font-size:14px;
    font-weight: 500;
    line-height: 21px;
  }
  a {
    color: inherit;  /* Убирает синий цвет */
    text-decoration: none;
  }
  
  ul {
    list-style: none; /* Убираем маркеры у списков */
  }





  //********************************* global styles *****************************//
  .rond-image {
    border-radius: 24px;
  }



  //отступ задаи от общего окна 12px и блока с текстом внутри задачи тоже 12px и с права и сверху