
<section>
    <div (click)="openClose()" class="title-task-block">
            <img [src]="iconsList.icondown" alt="">
            <div>Мои: 7</div>
    </div>

    <div *ngIf="isOpen">
        <div class="task-container" >

        @for(task of tasksList; track task.taskId){
            <article class="task-block">
                 @if(task.id < 6){
                        @if(breadcrumbs && task.id === taskNumber) { 
                                <app-task-breadcrumbs 
                                (mouseenter)="showBreadcrumbs(task.id)" 
                                (mouseleave)="hideBreadcrumbs()" 
                                />
                            }
                            <app-task-title [taskName]=task.taskName [taskId]=task.taskId
                                    (mouseenter)="showBreadcrumbs(task.id)" 
                                    (mouseleave)="hideBreadcrumbs()" 
                        />
        
                        
                         @if(footerBtn && task.id===taskNumberFooterBtn) { 
                            <app-task-buttons (mouseleave)="showFooterBtn(task.id)" />
                        }
                        @else{ 
                        <app-task-status [statusList]=task.status></app-task-status>
                        <app-task-author  [author]=task.author
                                (mouseenter)="showFooterBtn(task.id)" 
                        />
                        }
                                    
                }
            </article>
        }

        </div> 
    </div>

</section>     



<section>
    <div (click)="openCloseNotReseived()" class="title-task-block">
        <img [src]="iconsList.icondown" alt="">
        <div>Не назначенные: 9</div>
    </div>

    <ng-container *ngIf="isOpenNotReseived">
        <div class="task-container" >
            
            @for(task of tasksList; track task.id) { 
            <article class="task-block">
                @if(task.id >= 6){
                        @if(breadcrumbs && task.id === taskNumber) { 
                                <app-task-breadcrumbs 
                                (mouseenter)="showBreadcrumbs(task.id)" 
                                (mouseleave)="hideBreadcrumbs()" />
                            }
                            <app-task-title [taskName]=task.taskName [taskId]=task.taskId
                                    (mouseenter)="showBreadcrumbs(task.id)" 
                                    (mouseleave)="hideBreadcrumbs()" 
                        />
           
                        
                        @if(footerBtn && task.id === taskNumberFooterBtn) { 
                            <app-task-buttons (mouseleave)="showFooterBtn(task.id)" />
                        }
                        @else{ 
                        <app-task-status [statusList]=task.status></app-task-status>
                        <app-task-author  [author]=task.author
                                (mouseenter)="showFooterBtn(task.id)" 
                        />
                        }
                                     
                }
            </article>
        }


        </div> 
    </ng-container>
</section>  
