

<div class="task-container" >
    <div (click)="openClose()" >
        <img [src]="iconsList.icondown" alt="">
        <div>Мои: 7 - тут стиль добавить !!!</div>
    </div>

   <div *ngIf="isOpen">
                <article class="task-block">
                    <app-task-breadcrumbs *ngIf="showBreadcrumbs" [ngClass]="showBreadcrumbs==true? 'readcrumbs' : '' "
                    (mouseenter)="showBreadcrumbs = true" ></app-task-breadcrumbs>
                    <app-task-title
                        (mouseenter)="showBreadcrumbs = true" 
                        (mouseleave)="showBreadcrumbs = false">

                    </app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
    </div>   
</div>
     
<div class="task-container" >
    <div (click)="openClose2()" >
            <img [src]="iconsList.icondown" alt="">
            <div>Не назначенные: 9 !!!</div>
        </div>
    <div *ngIf="isOpen2">    
        <article class="task-block">
            <app-task-breadcrumbs></app-task-breadcrumbs>
            <app-task-title></app-task-title>
            <app-task-status></app-task-status>
            <app-task-author></app-task-author>
        </article>
    </div>
</div>
    
