
.task-container {
  padding: 12px;
  background-color: var(--Color-bg-blocks, #F9FAFC);
}
.task-block {
        background-color: white;     
        border-radius: 8px;       
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 0 10px;
        margin-top: 10px;
}

.title-task-block {
  display: flex;
}



.breadcrumbs {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 1s;
}

/* Появление при наведении на блок */
.task-block:hover .breadcrumbs {
  opacity: 1;
  transform: translateY(0);
}