<p-accordion [value]="['0']" [multiple]="true">
        <p-accordion-panel value="0">
            <p-accordion-header>Header I</p-accordion-header>
            <p-accordion-content>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>

                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
                
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Header II</p-accordion-header>
            <p-accordion-content>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Header III</p-accordion-header>
            <p-accordion-content>
                <article class="task-block">
                    <app-task-breadcrumbs></app-task-breadcrumbs>
                    <app-task-title></app-task-title>
                    <app-task-status></app-task-status>
                    <app-task-author></app-task-author>
                </article>
            </p-accordion-content>
        </p-accordion-panel>
</p-accordion>
