<app-responsive-conf></app-responsive-conf>
<main [ngClass]="versionCurrentRange  === conf.MOBILE ? 'mainMobile' : 'mainWeb' ">
      
      <section class="section-left">
        @if(versionCurrentRange  != conf.MOBILE) {
          <app-header-web></app-header-web>
        }
        <app-left-block></app-left-block>
      </section>


      <section class="section-right">
        @if(versionCurrentRange  != conf.MOBILE) {
          <app-right-block-menu></app-right-block-menu>
        }

        <app-right-block></app-right-block>
      </section>


</main>