.mainWeb {
    display: grid;
    grid-template-areas: 
      "section-left section-right";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: var(--Color-bg-grayDark, #F1F2F4);
}
.mainMobile {
    display: grid;
    grid-template-areas: 
      "section-right"
      "section-left ";
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: var(--Color-bg-grayDark, #F1F2F4);
}


.section-left {
    grid-area: section-left ;
    padding: 10px 10px;
}
.section-right {
    grid-area: section-right;
    padding: 10px 10px;
}